<div class="row">
    <div class="col-md-8">
        <div class="media">
            <br />
            <div class="media-body">
                <h3><%= @user.email %></h3>
                <br />
                <%= render partial: 'items/form', locals: {user: @user} %>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">
                            <ul>
                                <% @user.items.slice(0, @user.items.count).each do |item| %>
                                    <li><%= item.name %> - <%= distance_of_time_in_words(item.created_at + 7.days, Time.now, include_seconds: true) %> left  <%= link_to "", [current_user, item], remote: true, method: :delete, class: 'glyphicon glyphicon-ok' %></li>
                                <% end %>
                            </ul>    
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
